body{
    font-size: 20px;

}

#mainbody{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#packsize{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  

}
#packsize button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#bag{
    width: 40rem;
    height: 40rem;

}

.price{
    font-weight: bolder;
}

.size{
    font-size: larger;
}


#rightside_down{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#rightside_down img{
    width: 15rem;
    height: 15rem;
}
#kg10,#kg5{text-align: center;
    width: 30%;
    border: 2px solid gray;
    padding: 2%;
   
}
.amount{
    background-color:royalblue;
    color:white;
    padding: 1%;
    border-radius: 1rem;
}



#kg10:hover,#kg5:hover{
    background-color:lightgreen;
}

input{height: 2rem;
    width: 6rem;
    font-size: 1.1rem;
    text-align: center;
   
}



#kg5img{
    width: 60%;
    height: 40%;
}

#totalprice{
    font-size: larger;
    color: green;
}